<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.example.mappers.UserMapper'>

    <resultMap type='User' id='UserResult'>
        <id property='userId' column='user_id'/>
        <result property='emailId' column='email_id'/>
        <result property='password' column='password'/>
        <result property='firstName' column='first_name'/>
        <result property='lastName' column='last_name'/>
    </resultMap>

    <insert id='insertUser' parameterType='User' useGeneratedKeys='true' keyProperty='userId'>
        INSERT INTO USER (email_id, first_name, last_name, password)
        VALUES (#{emailId}, #{firstName}, #{lastName}, #{password})
    </insert>

    <select id='getUserById' parameterType='int' resultType='com.example.keystore.User'>
        SELECT
            user_id     AS userId,
            email_id    AS emailId,
            first_name  AS firstName,
            last_name   AS lastName,
            password    AS password
        FROM USER
        WHERE USER_ID = #{userId}
    </select>

    <select id='getAllUsers' resultMap='UserResult'>
        SELECT *
        FROM USER
    </select>

    <update id='updateUser' parameterType='User'>
        UPDATE USER
        SET
            EMAIL_ID = #{emailId},
            FIRST_NAME = #{firstName},
            LAST_NAME = #{lastName},
            PASSWORD= #{password}
        WHERE USER_ID = #{userId}
    </update>

    <delete id='deleteUser' parameterType='int'>
        DELETE FROM USER
        WHERE USER_ID = #{userId}
    </delete>
</mapper>